In [ ]:
try:
  print(0/0)
except ZeroDivisionError:
  print("Cannot divide by zero")
else:
  print("Division successful")
finally:
  print("This will always execute")

Cannot divide by zero
This will always execute

# Liste

In [ ]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]
list_length = len(integer_list)  # égale 3
list_sum = sum(integer_list)  # égale 6

x = list(range(10))  # est la liste [0, 1, ..., 9]
zero = x[0]  # égale 0, les listes sont indexées à partir de 0
one = x[1]  # égale 1
nine = x[-1]  # égale 9, version 'pythonique' pour le dernier élément
eight = x[-2]  # égale 8, version 'pythonique' pour l’avant-dernier élément
x[0] = -1  # maintenant x vaut [-1, 1, 2, 3, ..., 9]

first_three = x[:3]  # [-1, 1, 2]
three_to_end = x[3:]  # [3, 4, ..., 9]
one_to_four = x[1:5]  # [1, 2, 3, 4]
last_three = x[-3:]  # [7, 8, 9]
without_first_and_last = x[1:-1]  # [1, 2, ..., 8]
copy_of_x = x[:]  # [-1, 1, 2, ..., 9]

x = [1, 2, 3]
x.extend([4, 5, 6])  # x vaut maintenant [1,2,3,4,5,6]

x = [1, 2, 3]
y = x + [4, 5, 6]  # y vaut [1, 2, 3, 4, 5, 6]; x est inchangé

x = [1, 2, 3]
x.append(0)  # x vaut maintenant [1, 2, 3, 0]
y = x[-1]  # égale 0
z = len(x)  # égale 4

x, y = [1, 2]  # maintenant x vaut 1, y vaut 2
_, y = [1, 2]  # maintenant y == 2, peu importe le premier élément

In [ ]:
# Création de tuples
my_tuple = (1, 2)
other_tuple = 3, 4

# Assignations multiples
x, y = 1, 2
print(x, y)  # Output: 1 2

# Échange de valeurs
x, y = y, x
print(x, y)  # Output: 2 1

# Fonction retournant un tuple
def sum_and_product(x, y):
    return (x + y), (x * y)

s, p = sum_and_product(2, 3)
print(s, p)  # Output: 5 6

In [ ]:
# Création d'un dictionnaire
grades = {"Joel": 80, "Tim": 95}

# Accès à une valeur
joels_grade = grades["Joel"]
print(joels_grade)  # Output: 80

# Vérification d'existence
joel_has_grade = "Joel" in grades
print(joel_has_grade)  # Output: True

# Valeur par défaut
kates_grade = grades.get("Kate", 0)
print(kates_grade)  # Output: 0

# Modification
grades["Tim"] = 99
print(grades)  # Output: {'Joel': 80, 'Tim': 99}

# Itération
for key, value in grades.items():
    print(key, value)

80
True
0
{'Joel': 80, 'Tim': 99}
Joel 80
Tim 99

In [ ]:
from collections import defaultdict

word_counts = defaultdict(int)
for word in document:
   word_counts[word] += 1

In [ ]:
from collections import Counter
# Compter les mots dans un document
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
word_counts = Counter(words)

# Afficher les 3 mots les plus fréquents
for word, count in word_counts.most_common(3):
    print(word, count)

apple 3
banana 2
orange 1

In [ ]:
s = set()
s.add(1)
s.add(2)
# Vérification d'appartenance
print(2 in s)  # Output: True
# Suppression des doublons
item_list = [1, 2, 3, 1, 2, 3]
item_set = set(item_list)
distinct_item_list = list(item_set)
print(distinct_item_list)  # Output: [1, 2, 3]

True
[1, 2, 3]

In [ ]:
all([True, 1, { 3 }]) # Vrai
all([True, 1, {}]) # Faux, {} est plutôt faux
any([True, 1, {}]) # Vrai, True est plutôt vrai
all([]) # Vrai, pas d’éléments plutôt faux dans la liste
any([]) # Faux, pas d’éléments plutôt vrais dans la liste

False

In [ ]:
10/5

2.0

In [ ]:
10//5

2

In [ ]:
1 == 2

False

In [ ]:
sorted([-4,1,-2,3], key=abs, reverse=True)

[-4, 3, -2, 1]

In [ ]:
pairs = [(x, y)
    for x in range(10)
    for y in range(10)] # 100 paires (0,0) (0,1) ... (9,9)

In [ ]:
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [ ]:
def my_range(x):
    i = 0
    while i < x:
        yield i
        i += 1

In [ ]:
for i in my_range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
lessons = ["Why Python Programming", "Data Types and Operators", "Control Flow", "Functions", "Scripting"]

def my_enumerate(iterable, start=0):
    # TODO Implement your generator function here
    for element in iterable:
        yield start, element
        start += 1


for i, lesson in my_enumerate(lessons, 5):
    print("Lesson {}: {}".format(i, lesson))

Lesson 5: Why Python Programming
Lesson 6: Data Types and Operators
Lesson 7: Control Flow
Lesson 8: Functions
Lesson 9: Scripting

In [ ]:
def chunker(iterable, size):
    # Implement function here
    for i in range(0, len(iterable), size):
        yield iterable[i:i + size]



for chunk in chunker(range(25), 4):
    print(list(chunk))

[0, 1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10, 11]
[12, 13, 14, 15]
[16, 17, 18, 19]
[20, 21, 22, 23]
[24]

In [ ]:
import random

# Générer un nombre aléatoire entre 0 et 1
nombre_aleatoire = random.random()
print(nombre_aleatoire)

# Générer un entier aléatoire entre 1 et 10 (inclus)
entier_aleatoire = random.randint(1, 10)
print(entier_aleatoire)

# Mélanger une liste
liste = [1, 2, 3, 4, 5]
random.shuffle(liste)
print(liste)

# Choisir un élément aléatoirement dans une liste
liste = [1, 2, 3, 4, 5]
element_choisi = random.choice(liste)
print(element_choisi)

0.2426777949126201
3
[2, 3, 5, 1, 4]
4

In [ ]:
import re

# Vérification 1: 'cat' ne commence pas par 'a'
check1 = not re.match("a", "cat")

# Vérification 2: 'cat' possède un 'a'
check2 = re.search("a", "cat")

# Vérification 3: 'dog' ne contient pas de 'c'
check3 = not re.search("c", "dog")

# Vérification 4: 'carbs' se coupe en 'a' ou 'b' en ['c', 'r', 's']
check4 = 3 == len(re.split("[ab]", "carbs"))

# Vérification 5: remplace les chiffres par des tirets dans "R2D2"
check5 = "R-D-" == re.sub("[0-9]", "-", "R2D2")

# Afficher si toutes les vérifications sont vraies
print(check1 and check2 and check3 and check4 and check5)

True

In [ ]:
re.split("[ab]", "carbs")

['c', 'r', 's']

In [ ]:
# Calculer le carré de chaque nombre dans une liste
carres = map(lambda x: x**2, [1, 2, 3, 4, 5])

# Filtrer les nombres pairs d'une liste
pairs = filter(lambda x: x % 2 == 0, [1, 2, 3, 4, 5])

# Créer une liste des nombres impairs inférieurs à 10
impairs = [x for x in range(10) if x % 2 != 0]

In [ ]:
pairs

In [ ]:
list(pairs)

[2, 4]

In [ ]:
for i in pairs:
  print(i)

In [ ]:
liste1 = [1, 2, 3]
liste2 = ['a', 'b', 'c']

for x, y in zip(liste1, liste2):
    print(x, y)

1 a
2 b
3 c

In [ ]:
def somme(x, y, z):
    return x + y + z

liste = [1, 2, 3]
resultat = somme(*liste)  # Équivalent à somme(1, 2, 3)
print(resultat)  # Affiche 6

6

In [ ]:
paires = [(1, 'a'), (2, 'b'), (3, 'c')]
liste1, liste2 = zip(*paires)
print(liste1)  # Affiche (1, 2, 3)
print(liste2)  # Affiche ('a', 'b', 'c')

In [ ]:
def magic(*args, **kwargs):
    print("args sans nom :", args)
    print("args mots-clés :", kwargs)

magic(1, 2, key="word", key2="word2")
# affiche
# args sans nom : (1, 2)
# args mots-clés : {'key2': 'word2', 'key': 'word'}

args sans nom : (1, 2)
args mots-clés : {'key': 'word', 'key2': 'word2'}

In [ ]:
# Calculer le carré de chaque nombre dans une liste
carres = map(lambda x: x**2, [1, 2, 3, 4, 5])

# Filtrer les nombres pairs d'une liste
pairs = filter(lambda x: x % 2 == 0, [1, 2, 3, 4, 5])

In [ ]:
for i in pairs:
  print(i)

In [ ]:
for j in carres:
  print(j)